mainmenu "rpc demo application"

menu "App Options"

	choice APP_NET_TYPE
		prompt "Network type"
		default APP_NET_TYPE_WIFI

		config APP_NET_TYPE_WIFI
		bool "wifi network"

		config APP_NET_TYPE_SERIAL
		bool "serial net"

		config APP_NET_TYPE_ETH
		bool "wired ethernet networking"
	endchoice

	config APP_USE_STATIC_IP
	    bool "Use static ip."

	config APP_IPV4_ADDR
	    string "IP address for the serial interface."
	    default "192.0.2.1"

	config APP_IPV4_MASK
	    string "IP netmask for the serial interface."
	    default "255.255.255.0"

	config APP_IPV4_GW
	    string "IP gateway for the serial interface."
	    default "192.0.2.2"

endmenu

source "Kconfig.zephyr"

module = APP
module-str = "app"
source "subsys/logging/Kconfig.template.log_config"

